
/* layout for border box styling */
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
}
/* cover image */
div#header_cover {
  text-align: center;
  height: 50vh;
  background: url("https://images.pexels.com/photos/1571460/pexels-photo-1571460.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260")
    bottom center no-repeat;
  opacity: 0.8;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

#header_title {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

iframe {
  max-width: 100%;
  margin-bottom: 5rem;
  box-shadow: 15px 15px 15px 10px rgb(197, 180, 180);
}

#video {
  width: 80vh;
  height: 65vh;
}
/* image width */
img {
  max-width: 100%;
}

/* section h2 styling */
section h2 {
  text-align: center;
  margin-top: 3em;
  color: black;
}

/* background contact form  */
.bg-grey {
  background-color: #aaa9a5;
}

/* heading section buttons */
.btn {
  background-color: #d0d7d5;
  border-radius: 1rem;
  box-shadow: 2px 2px 2px #0e0b01;
  color: #130e0e;
  font-size: 1em;
  padding: 15px;
  text-decoration: none;
  position: relative;
  text-align: center;
}

/* interior design buttons */
.btn-colour {
  background-color: #d4d8a5;
  font-weight: bold;
}

.btn-colour:active {
  box-shadow: 0 0 0 #141416;
  transform: translate(2px, 2px);
}
.btn-ghost {
  background-color: #0d1510;
  color: #fffffe;
  box-shadow: none;
  border: none;
}

.btn:active {
  box-shadow: 0 0 0 #8a7400;
  transform: translate(2px, 2px);
}

.btn-ghost:active {
  transform: none;
}

/* main container styling */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 700px;
  margin: 0 auto;
}

/* Navigation*/
nav {
  background-color: #525252;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.09);
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem 1.5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.nav-link {
  text-decoration: none;
  padding: 15px;
  display: inline-block;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}
/* header sections  */
.header-left-section {
  padding-right: 20px;
  width: 60%;
  color: black;
  font-family: Arial, sans-serif;
}

.header-right-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}

/* Features section */
.feature {
  border-radius: 12px;
  margin: 0 1.66%;
  padding: 10px;
  width: 30%;
  text-align: center;
  box-shadow: 10px 5px 10px 5px rgb(197, 180, 180);
}

.feature h2 {
  font-size: 1em;
  margin-top: 5px;
}

.feature p {
  font-size: 1em;
  line-height: 24px;
}
.feature:hover {
  background: rgba(0, 0, 0, 0);
  color: #3b6dad;
  box-shadow: inset 0 0 0 3px #83a4b4;
  transform: skew(-2deg);
}

/*Product Cards Section */
.grid_card__container {
  column-gap: 1rem;
  margin: 0 auto;
  margin-top: 4rem;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
  box-sizing: border-box;
  width: 75%;
  margin: auto;
  background-size: cover;
  position: relative;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  color: black;
  font-family: Arial, sans-serif;
}

.card__font {
  color: black;
  text-align: center;
  font-family: Arial, sans-serif;
}
.card:hover {
  box-shadow: 10px 5px 10px 5px #aaaaaa;
}

.card__container {
  height: 360px;
  min-height: 0;
  padding: 25px 32px 80px;
  margin-bottom: 40px;
}

.card__title {
  font-family: Poppins, sans-serif;
  font-size: 2rem;
  margin: auto;
  letter-spacing: 0.37px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 24px;
  letter-spacing: 0.4px;
}

.button__secondary_container {
  min-width: 130px;
  cursor: pointer;
  color: #2897ff;
  margin: auto;
}

.button__secondary_text {
  margin: auto 10px auto 10px;
  color: #fff;
}

.card__button {
  bottom: 20px;
  width: 140px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
  margin: 25px;
  color: black;
  font-weight: bold;
  font-size: 1rem;
  background-color: white;
  border: 3px solid #2897ff;
}

/* Form styling */
form {
  margin-bottom: 30px;
  margin-top: -50px;
  margin-right: 2rem;
}

form .flex {
  display: flex;
  flex-wrap: wrap;
}

form input[type="email"] {
  border-radius: 5px;
  border: 5;
  color: black;
  display: inline-block;
  font-size: 14px;
  flex: 1;
  padding: 10px 25px;
  margin-right: 10px;
}

/* Footer Styling */
footer {
  background-color: rgb(241, 205, 172);
  color: #110e0e;
  padding: 15px;
  text-align: center;
}

#footer-bullets {
  line-height: 1.6em;
  font-size: 1.2rem;
  color: #000000;
  font-style: italic;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

/* media queries for different screen sizes */
@media screen and (min-width: 520px) {
  .card__button {
    justify-content: center;
    height: 40px;
    margin: 25px 0px auto 10px;
    border-radius: 20px;
  }
  .card__container {
    justify-content: space-between;
    align-items: center;
    height: 525px;
    min-height: 0;
    padding: 25px 32px 60px;
    margin-bottom: 10px;
  }
}

/* for smaller mobile screens */
@media screen and (min-width: 300px) {
  .card__button {
    justify-content: center;
    height: 40px;
    width: 20px;
    margin: 45p 0px 0px -15px;
    border-radius: 20px;
  }
  .card__container {
    justify-content: space;
    align-items: center;
    height: 685px;
    padding: 25px 32px 60px;
    margin: 0 auto;
  }
  iframe {
    max-width: 70%;
    margin-bottom: 5rem;
    box-shadow: 15px 15px 15px 10px rgb(197, 180, 180);
  }
}

/* screen sizes for tablet size */
@media (max-width: 480px) {
  .header-left-section,
  .header-right-section {
    width: 100%;
  }

  .header-right-section {
    order: 0;
  }

  .header-left-section {
    order: 1;
    padding-left: 20px;
    text-align: center;
  }

  .header-left-section h1 {
    display: none;
  }

  .feature {
    margin: 10px;
    width: 100%;
  }

  .flex input {
    width: 100%;
  }
}
